@import "./colors";
@import "./breakpoints";

$button-size: 46px;
$button-icon-size: 0.8 * $button-size;

@mixin nav-icon {
  height: $button-icon-size;
  width: $button-icon-size;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@mixin nav-button {
  background-color: $ivory;
  height: $button-size;
  width: $button-size;
  border-radius: $button-size / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $melanie;
}

.nav {
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-indent: 0;
  }
}
.nav__items {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 20px;
  right: 20px;
  @include media-breakpoint(small) {
    top: 50px;
    right: 50px;
    flex-direction: column;
  }
}
.nav-item {
  margin-left: 10px;
  @include media-breakpoint(small) {
    margin-left: 0;
    margin-bottom: 10px;
  }
  &:last {
    margin-bottom: auto;
  }
  a {
    @include nav-button;
    flex: 1;
  }
}
.nav-item__info {
}

.nav-item__info-link {
  font-size: 180%;
  font-weight: 700;
}

.nav-item__print-button {
  color: $blue-charcoal;
  @include nav-button;
}

.nav-item__print-button-icon {
  @include nav-icon;
  background-image: image-url("printer-icon.svg");
}

.nav-item__info-icon {
  @include nav-icon;
  background-image: image-url("info-icon.svg");
}

.nav-item__home-icon {
  @include nav-icon;
  background-image: image-url("home-icon.svg");
}

.nav-item__list-icon {
  @include nav-icon;
  background-image: image-url("list-icon.svg");
  width: 32px;
}

@media print {
  .nav {
    display: none;
  }
}
