@import "./colors";

@mixin page-image {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  width:100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.footer {
  margin-bottom: 30px;
}

.zine {
  * {
    color: $white;
  }
  + .zine {
    margin-top: 0;
  }
  .zine-li:before {
    content: '\21D2';
    margin-left: -20px;
    margin-right: 10px;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  .captioned-img {
    @include page-image;
  }

  figcaption {
    font-size: 100%;
    text-align:right;
    padding: 0;
    margin: 0 2rem 0 2rem;

  }
  &.zine--sheet-1 .zine-page.page-1 {
    /* no by-line for the cover */
    figcaption {
      display: none;
    }
  }

  .full-img {
    @include page-image;
  }

  .footer-contents {
    color: $white;
    font-weight: 700;
    font-size: 180%;
  }

  .hashtag {
    color: $red-orange;
  }
}

.past-issues {
  color: $comet;
  display: flex;
  padding: 10px 30px;
  margin: auto;
  margin: 0;
}

.past-issues__link {
  color: $blue-haze;
  height: 23px;
  width: 30px;
  border: 1px solid $comet;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.footer {

  .footer-contents {
    padding: 10px 30px;
    margin: auto;
    margin: 0;
    color: $white;
    font-weight: 700;
    font-size: 140%;
  }
  .hashtag {
    color: $red-orange;
  }

  @media print {
    .footer-contents {
      font-size: 120%;
      color: $blue-charcoal;
      padding: 0px 10px;
    }
  }
}

.zine {

  .special-issue-2-footer {
    .footer-contents {
      padding: 10px 30px;
      margin: auto;
      margin: 0;
      color: $white;
      font-weight: 700;
      font-size: 140%;
    }
    .hashtag {
      color: $red-orange;
    }

    @media print {
      .footer-contents {
        font-size: 120%;
        color: $blue-charcoal;
        padding: 0px 10px;
      }
    }
  }
}

.zine-page--empty {
  display: none;
}

.embed-youtube {
  margin: 20px auto 20px;
}

@media screen {
  body {
    font-size: 16px;
  }
  .zine {
    background: $blue-charcoal;
    margin-top: 30px;
    padding: 10px;
  }

  .zine-page {
    margin-top: 10px;
    border-top: 3px double $blue-charcoal;
    padding-top: 10px;
  }
}

@media print {
  body {
    font-size: 9pt;
    margin:auto;
  }
  .embed-youtube {
    iframe {
      display: none;
    }
    &:after {
      width: 70%;
      font-size: 1.4em;
      content: "This musical interlude is not available in print form";
      color: $blue-haze;
      display: flex;
      margin: 50% auto 0;
      transform: translateY(-50%);
    }
  }

  @page {
    size: landscape;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .zine {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: 2px 2px;
    background: lightgrey;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    * {
      color: $white;
    }
    figcaption {
      color: $comet;
      font-size: 100%;
      margin: 0 10px 0 0;
    }
    .captioned-img {
      color: #222020;
      max-height: 90%;
      padding: 0.1rem 0.5rem 0.1rem;
    }
    .footer-contents {
      color: $blue-charcoal;
      font-size: 140%;
      margin-top: 0;
      margin: 32vh 20px;
    }
  }

  .zine-page {
    display: block;
    background: white;
    box-sizing: border-box;
    padding: 0.5vh;
    overflow: hidden;
  }

  .zine-page--empty {
    display: block;
  }

  .footer,
  .past-issues {
    display: none;
  }

  /* support for 2 sheets */
  @for $i from 1 through 8 {
    .page-#{$i} {
      grid-area: page-#{$i};
    }
  }

  .zine--sheet {
    grid-template-areas:
      "page-5 page-4 page-3 page-2"
        "page-6 page-7 page-8 page-1";

    .page-5, .page-4, .page-3, .page-2 {
      transform: rotate(180deg);
    }
  }
}
