@import "./colors";

@mixin page-image {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  width:100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.zine {
  + .zine {
    margin-top: 0;
  }
  .zine-li:before {
    content: '\21D2';
    margin-left: -20px;
    margin-right: 10px;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  .captioned-img {
    @include page-image;
  }

  figcaption {
    font-size: 100%;
    text-align:right;
    color: $white;
    padding: 0;
    margin: 0 2rem 0 2rem;
  }

  .zine-page.page-1 {
    /* no by-line for the cover */
    figcaption {
      display: none;
    }
  }

  .full-img {
    @include page-image;
  }

  .footer-contents {
    font-weight: 700;
    font-size: 180%;
  }

  .hashtag {
    color: $red-orange;
  }
}

.zine-page--empty {
  display: none;
}

.zine-page:last-of-type {
  color: $white;
  padding: 20px 0;
  vertical-align:bottom;
}



@media screen {
  .zine {
    background: $blue-charcoal;
    margin-top: 30px;
    padding: 10px;
  }

  .zine-page {
    margin-top: 10px;
    border-top: 3px double $blue-charcoal;
    padding-top: 10px;
  }
}

@media print {
  @page {
    size: landscape;
  }

  body {
    font-size: 70%;
    margin:auto;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .zine {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: 2px 2px;
    background: lightgrey;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    figcaption {
      color: $comet;
    }
    .captioned-img {
      max-height: 90%;
      padding-bottom: 0.5rem;
    }
    .footer-contents {
      color: $blue-charcoal;
      font-size: 130%;
      margin-top: 0;
      margin: 32vh 20px;
    }
  }

  .zine-page {
    display: block;
    background: white;
    box-sizing: border-box;
    padding: 0.5vh;
    overflow: hidden;
  }

  .zine-page--empty {
    display: block;
  }

  /* support for 2 sheets */
  @for $i from 1 through 8 {
    .page-#{$i} {
      grid-area: page-#{$i};
    }
  }

  .zine--sheet {
    grid-template-areas:
    "page-5 page-4 page-3 page-2"
      "page-6 page-7 page-8 page-1";

    .page-5, .page-4, .page-3, .page-2 {
      transform: rotate(180deg);
    }
  }
 
}
