/* CSS files add styling rules to your content */
@import "./colors";
@import "./zine";
@import "./info";
@import "./poetry";
@import "./navigation";

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $blue-charcoal;
}

body {
  font-family: "Futura","Helvetica",sans-serif;
  margin: 0;
  padding: 0;
}

@media screen {
  body {
    max-width: 40rem;
    background: $blue-charcoal;
    margin: auto;
  }
}

