/* CSS files add styling rules to your content */
@import "./colors";
@import "./zine";
@import "./info";
@import "./poetry";
@import "./prose";
@import "./navigation";

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $blue-haze;
}

body {
  font-family: "Futura", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen {
  body {
    max-width: 40rem;
    background: $blue-charcoal;
    margin: auto;
  }
}

.issues-list {
  margin-top: 40px;
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2rem;
    display: flex;
    .label {
      flex:1;
    }
    .pdf {
      color: $ivory;
      height: 22px;
      width: 22px;
      align-self: center;
      justify-self: center;
    }
  }
  li:nth-child(2n) {
    background-color: rgba(255,255,255, 0.1);
  }
}
