<div class="poetry">
  <em class="poetry__title">what is shelter?</em>
  <p>
    shelter<br/>
    does not imply<br/>
    perfect, clean, ideal.<br/>
    it does not always include<br/>
    those we hold dear.<br/>
    it gives no false promises<br/>
    of happiness or inner peace.<br/>
  </p>
  <p>
    shelter provides us<br/>
    with somewhere else,<br/>
    a hiding place,<br/>
    an alternative,<br/>
    some sanctuary,<br/>
    protection,<br/>
    refuge.<br/>
  </p>
  <p>
    so stay safe,<br/>
    stay warm,<br/>
    stay inside,<br/>
    for we have<br/>
    food, clothing,<br/>
    and shelter.<br/>
  </p>
</div>
