<div class="prose">
  <p>
    A steady breeze carried salt and water through the air. He could feel it on his skin and hair. He could taste it. Going to the ocean had never been his favorite pastime, but the sun was out and things felt different today. He watched the city rise and fall against the horizon as the waves lapped against the side of the boat. It looked so small now. He thought about all the people he’d loved. The joy and pain. They just seemed to shrink and distort along with those silhouetted buildings. This place had once felt so powerful. How had he allowed it to define him for so long? There was a melancholic kind of peace that accompanied the thoughts.
  </p>
  <p>
    He sat down and took a deep breath of the heavy ocean air. She was firmly in his mind again. As much as he tried to deny it, she usually was. The experiences and time they shared had forever woven the city and her together. Deep down he knew there was no one left to love him there.
  </p>
  <p>
    The idea of starting over had never been particularly appealing to him before. Why would anyone want that when they worked so hard to be who they were? Taking such a large step back offered him a new perspective, though, and it actually seemed inspiring now. There was a tinge of hope that he hadn’t experienced in a long time. Maybe there was a sense of beauty in letting yourself sail away.
  </p>
</div>

