<figure>
  <div>
  <%= image_tag( "issue24/svenningsen-adventure.png", class: "captioned-img", alt: "http://tilde.club/~crsven/sail-away.html" ) %>
  <marquee>
    <a href="http://tilde.club/~crsven/sail-away.html"><tt>http://tilde.club/~crsven/sail-away.html</tt></a> for the full adventure
    </marquee>
  </div>
</figure>