<div class="footer-contents">
  &#9825; thanks to the readers and contributors &#9825;
  <br>
  <span class="hashtag">#my-forthcoming-zine</span>
</div>
<div class="past-issues">
  <div class="past-issues__header">Past Issues:</div>
  <div class="past-issues__navigation">
    <% Hash[data.issues.to_a.reverse].each do |k,v| %>
      <%= link_to v["number"], k, title: v["name"], class: "past-issues__link" %>
    <% end %>
  </div>
</div>
