<div class="footer-contents">
  Now taking submissions at <br><span class="hashtag">#my-forthcoming-zine</span>
</div>
<div class="past-issues">
  Past Issues:
  <% ["issue1", "issue2", "issue3"].each_with_index do |issue, index| %>
    <a class="past-issues__link" href="<%= issue %>" ><%= index + 1%></a>
  <% end %>
</div>
