<%= num_past_issues = 8 %>
%><div class="footer-contents">
  Now taking submissions at <br><span class="hashtag">#my-forthcoming-zine</span>
</div>
<div class="past-issues">
  Past Issues:
  <% num_past_issues.times.map do |idx| %>
    <% issue_number = num_past_issues - idx %>
    <%= link_to issue_number, "issue#{issue_number}", class: "past-issues__link" %>
  <% end %>
</div>
