<nav class="nav">
  <ol class="nav__items">
    <li class="nav-item nav-item__print">
      <button class="nav-item__print-button" title="Print Me!" ><i class="nav-item__print-button-icon"></i></button>
    </li>
    <li class="nav-item nav-item__info">
      <%= link_to '<i class="nav-item__info-icon"></i>', "info", class: "nav-item__info-link", target:"_blank" %>
    </li>
    <li class="nav-item nav-item__info">
      <%= link_to '<i class="nav-item__home-icon"></i>', "/index.html", class: "nav-item__info-link", target:"_blank" %>
    </li>
  </ol>
</nav>
