<nav class="nav">
  <ol class="nav__items">
    <li class="nav-item nav-item__print">
      <button class="nav-item__print-button" title="Print Me!" ><i class="nav-item__print-button-icon"></i></button>
    </li>
    <li class="nav-item nav-item__info">
      <a class="nav-item__info-link" href="/info" target="_blank">
        <i class="nav-item__info-icon"></i>
      </a>
    </li>
  </ol>
</nav>
