<div class="prose">
  <p>
    When we were clearing out my dad’s place today, my youngest brother came out of my dad’s bedroom holding a suit with a price tag on it that said $500. We all gaped, as my dad was way too cheap to buy a suit - and definitely not a $500 suit. The dude wore the same outfit every day and it definitely wasn't anything formal. We hung it up on the wall and everybody kept working, passing by the thing in the hallway as we moved boxes of Where’s Waldo books and blunt kitchen knives from Salvation Army and other bullshit. It was a piece of my dad that we all didn’t understand, but it was well understood that nobody would get to ask the dude to explain, so we just gaped at it. Anyways, hours later, right before we were about to head to the donation center with some book cases or something, my brother Colin looked at the tag to see where my dad bought this $500 suit, when he noticed a decimal point between the 5 and the 00. It was a 5.00$ suit. We took it off the wall and gave it to Goodwill.
  </p>
</div>
